@tailwind base;
@tailwind components;
@tailwind utilities;


p,
span,
h1,
h2,
h3,
h4,
img,
a {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}

input[type='checkbox'] {
  accent-color: black;
}




body::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 10px;
}


.Mui-focused {
  color: black !important;
}